.shadoww{
    box-shadow: 0px 0.778812px 1.55762px rgba(16, 24, 40, 0.05);
    border-radius: 6.23049px;
}


::-webkit-scrollbar {




    width: 5px;



}



/*Track*/



::-webkit-scrollbar-track {



    visibility: hidden;



}



/* Handle */



::-webkit-scrollbar-thumb {



    visibility: hidden;



}